* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
	overflow: hidden;
}

.login-background {
	width: calc(100% - 560px);
	background-image: url('/img/bg.jpg');
}

.login-forms {
    width: 560px;
    padding: 173px 55px 55px 55px;
}

